html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}
